<div class="container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
  <div class="container" fxFlex="30%">
    <mat-card><h3>Create a consent request</h3></mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group form-check">
        <div>
          <label for="healthId">Health ID:</label>
          <input
            type="text"
            class="form-control"
            formControlName="healthId"
            id="healthId"
          />
        </div>
        <div>
          <label for="purpose">Purpose:</label>
          <select class="form-control" id="purpose" formControlName="purpose">
            <option *ngFor="let purpose of purposeList" [value]="purpose">
              {{ purpose }}
            </option>
          </select>
        </div>
        <div>
          <label for="checkbox">PHR Type:</label>
          <div *ngFor="let data of Data; let i = index">
            <label>
              <input
                type="checkbox"
                [value]="data.value"
                (change)="onCheckboxChange($event)"
              />
              {{ data.name }}
            </label>
          </div>
        </div>

        <div>
          <label for="fromDate">Health Info From:</label>
          <input
            type="date"
            formControlName="fromDate"
            id="fromDate"
            class="form-control"
          />
        </div>

        <div>
          <label for="toDate">Health Info To:</label>
          <input
            type="date"
            formControlName="toDate"
            id="toDate"
            class="form-control"
          />
        </div>

        <div>
          <label for="expiry">Consent Expiry:</label>
          <input
            type="datetime-local"
            formControlName="expiry"
            id="expiry"
            class="form-control"
          />
        </div>
      </div>
      <div>
        <button class="btn btn-primary mr-1">Submit</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">
          Reset
        </button>
      </div>
    </form>
  </div>

  <div class="container">
    <mat-card><h3>Consent Requests</h3></mat-card>
    <table mat-table [dataSource]="consentSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell">No records found</td>
      </tr>
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>

      <!-- Id Column -->

      <ng-container matColumnDef="requestId">
        <th mat-header-cell *matHeaderCellDef>Request Id</th>
        <td mat-cell *matCellDef="let element">{{ element.requestId }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Consent status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="refresh">
        <th mat-header-cell *matHeaderCellDef>Refresh</th>
        <td mat-cell *matCellDef="let row">
          <mat-icon
            svgIcon="refresh"
            aria-hidden="false"
            aria-label="refresh"
            (click)="refreshConsent()"
          ></mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>PHR</th>
        <td mat-cell *matCellDef="let row">
          <button
            [disabled]="row.status !== 'GRANTED'"
            class="btn btn-primary mr-1"
            (click)="dataInit(row.requestId)"
          >
            Request Data
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="consentColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: consentColumns"></tr>
    </table>
    <mat-divider></mat-divider>
    <mat-card><h3>Data Requests</h3></mat-card>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell">No records found</td>
      </tr>
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>

      <!-- Id Column -->

      <ng-container matColumnDef="requestId">
        <th mat-header-cell *matHeaderCellDef>Request Id</th>
        <td mat-cell *matCellDef="let element">{{ element.requestId }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Data status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="refresh">
        <th mat-header-cell *matHeaderCellDef>Refresh</th>
        <td mat-cell *matCellDef="let row">
          <mat-icon
            svgIcon="refresh"
            aria-hidden="false"
            aria-label="refresh"
            (click)="refreshData()"
          ></mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>PHR</th>
        <td mat-cell *matCellDef="let row">
          <button
            [disabled]="row.status !== 'ready to fetch'"
            class="btn btn-primary mr-1"
            (click)="viewRecords(row.requestId)"
          >
            View Records
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: dataColumns"></tr>
    </table>
  </div>
</div>
